<p>homepages works!</p>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://cdn1.tripoto.com/media/filter/nxxl/img/1442601/Image/1585551951_13.jpg" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://cdn.s3waas.gov.in/s3621bf66ddb7c962aa0d22ac97d69b793/uploads/2018/03/2018031930-1.jpg" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.keralatourism.org/images/banner/medium_desktop/malabar.jpg" alt="...">
          </div>
        </div>
      </div>
